maml/R/testing.R
maml/R/testing.R
maml/R/discover.R
maml/R/discover.R
.Rproj.user

# ignore the built file
*.tar.gz

# ignore Rout files
*.Rout

# ignore .RData files in testthat
AzureML/tests/testthat/*.RData
AzureML/tests/testthat/gen_mlstudio_auth_file.R

# ignore the Rcheck dir
AzureML.Rcheck